*,
*::after,
*:before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
 }

body{
    font-family: 'Open sans';
    font-size: 16px;
    color: #363636;
}
header, main{
    max-width: 80%;
    margin-inline: auto;
}

header{
    text-align: center;
}

footer {
    text-align: center;
    color: #fff;
    background-color: rgb(56, 56, 56);
    padding: 1em;
    margin-inline: 0;
    font-size: 14px;
}

.footer a{
    color: #fff;
}

li{
    list-style: none;
}
.navbar{
    background-color: #7e4a7c;
    padding: 1em;
    font-weight: 700;
    margin-block: 1em;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Economica';
    font-size: 24px;
    padding: 1em;
}
.navbar a:hover{
    color: #7e4a7c;
    background-color: #fff;
}

/* Media screen pour la bar de navigation */

@media screen and (max-width: 700px){

    header img{
        width: 20%;
    }
    .navbar{
        width: 100%;
        padding: 0.1em;
    }
    .navbar ul{
        display: block;
        height: 50px;
        font-size: 16px;
        padding-left: 0;
    }
    .navbar a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 5px;
        margin-block: 0;
    }
}

@media screen and (max-width: 900px){
   #about{
    margin-top: 0;
    margin-bottom: 0;
   } 

   .about{
    margin-bottom: 0;
   }

    #h1{
        font-size: 15px;
        margin-block: 10px;
    }
     #about h2{
        font-size: 5px;
        margin-left: 0;
     }

     .image-groupe{
        width: 50%;
        font-size: 3px;
        
    }
    .card{
        margin-right: 0;
    }

    #img1{
        width: 50%;
        height: 100px;
        margin-right: 2px;
    }

    #img2{
        width: 3%;
        margin-right: 1px;
        padding-left: 0;
    }

    #h3{
        font-size: 5px;
        margin-left: 8px;

    }

    .card ul li{
        width: 100%;
        margin-block: 0;
        font-size: 3px;
        text-align: left;
        margin-right: 0;
        margin-top: 0;
    }

    .card ul{
        width: 100%;
        padding: 0; 
        margin-left: 10%;
        margin-top: 0;
    }
    
    div.link a{
        font-size: 3px;
        border: none;
        margin-top: 0;
    }

    div.link {
        margin: 0;
    }

    .carde img{
        width: 40%;
    }

    .carde .img{
        margin-right: 5px;
    }

    .carde h3, p{
        font-size: 3px;
        margin-left: 0;
    }
    .classes h2{
        font-size: 5px;
    }

    .classes{
        margin: 0;
    }

    .table{
        width: 100%;    
    }

    .classes .table, tr, th, td{
        font-size: 3px;
    }

    .book{
        width: 100%;
    }

    .group label{
        font-size: 5px;
    }

    input, select{
        width: 100%;
        font-size: 5px;
        margin-right: 10px;
    }

    #input{
        width: 20%;
        font-size: 5px;
    }

    .icons{
        font-size: 5px;
        margin: 0;
    }

    .footer img{
        width: 10px;
    }

    .group{
        width: 100%;
        display: flex;

    }

    .book h2{
        margin-top: 5px;
        font-size: 5px;
    }
    
 }


.main h1{
    text-align: center;
    color: #7e4a7c;
    font-weight: 900;
    margin-block: 1.5em;
    font-family: 'Economica';
    font-size: 50px;
}

section{
    margin-bottom: 20px;
}

.about{
    display: flex;
}

.about .card{
    width: 30%;
}
.about .image-groupe{
    width: 70%;
    margin-right: 5px;
}

.image-groupe img{
    float: left;
    width: 40%;
    height: 400px;
    margin-right: 20px;
    clear: both;
}

.first-child , .first{
    margin-top: 0;
    color: #7e4a7c;
    font-style: italic;
}

.card div, a {
    margin-block: 30px;
}

.card li{
    margin-block: 20px;
}

h2{
    color: #b878b5;
    margin-top: 0;
    font-family: 'Economica';
    font-size: 40px;
}

h3{
    margin-left: 40px;
    margin-top: 0;
    color: #7e4a7c;
    font-size: 30px;
}

h2, h3, .first, .first-child{
    font-weight: 700;
}

.card ul li img{
    margin-right: 20px;
}

div a{
    border: 1px solid #b878b5   ;
    text-decoration: none;
    color: #fff;
    background-color: #7e4a7c;
    padding: 1em;
    font-family: 'Economica';
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}

div a:hover{
    color: #7e4a7c;
    background-color: #fff;
}

.column{
    display: flex;
}

.carde{
    width: 50%;
    margin-block: 10px;
    margin-inline: 5px;
}

.carde img{
    float: left;
    margin-right: 20px;
}

.carde div {
    margin-block: 40px;
}


table, tr, th, td{
    padding: 1em;
    border-collapse: collapse;
    border: 1px solid #b878b5;
    text-align: center;
}
table{
    width: 90%;
    margin-inline: auto;
}

thead{
    background-color: #7e4a7c;
    color: #fff;
}

.vide{
    background-color: #ffeefe;
}

.weight{
    font-weight: 700;
}

.group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffeefe;
    margin-block: 20px;
    padding: 0.5em;
}

label{
    color: #7e4a7c;
}

input[type=text], input[type=email]{
    padding: 0.2em;
    width: 30%;
    border: 1px solid #b878b5;
    margin-block: 20px;
    background-color: #fff;
}

select{
    padding: 0.2em;
    width: 20%;
    border: 1px solid #b878b5;
    margin-block: 20px;
    background-color: #fff;
}

.formulaire{
    padding: 1em;
    border: 1px solid #b878b5;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}


div input[type=submit], input[type=reset]{
    border: 1px solid #b878b5;
    background-color: #7e4a7c;
    color: #fff;
    font-size: 25px;
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

div input[type=submit]:hover{
    background-color: #fff;
    color: #7e4a7c;
    cursor: pointer;
}
div input[type=reset]:hover{
    background-color: #fff;
    color: #7e4a7c;
    cursor: pointer;
}

section.icons{
    background-color: #7e4a7c;
    padding: 1em;
    margin-bottom: 0;
    margin-top: 30px;
    margin-inline: 0;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.icons i{
    color: #fff;
    font-size: 2em;
}

.icons a{
    text-decoration: none;

}

footer img{
    width: 50px;
}